@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.edge {
    stroke-width:2px;
    stroke: black;
    stroke-dasharray: 5 2;
}

.edge-toucharea {
    stroke-width: 20px;
    stroke: transparent;
}

.redundant-true {
    stroke: #dbdbdb;
}

#dot-redundant-true circle {
    stroke: none;
    fill: #dbdbdb;
}

#dot-redundant-false circle {
    stroke: none;
    fill: black;
}

.arrival, .departure, .label {
    visibility: hidden;
}

.arrival.selected, .departure.selected, .label.selected {
    visibility: visible;
}

.edge.selected {
    stroke: red;
}

.type-Foot {
    stroke-dasharray: 1 5;
}

.type-ICE, .type-IC {
    stroke-dasharray: 1 0;
}

