.edge {
    stroke-width:2px;
    stroke: black;
}

.edge-toucharea {
    stroke-width: 20px;
    stroke: transparent;
}

#dot circle {
    stroke: none;
    fill: context-fill;
}

.arrival, .departure, .label {
    visibility: hidden;
}

.arrival.selected, .departure.selected, .label.selected {
    visibility: visible;
}

.edge.selected {
    stroke: red;
}

.redundant-true {
    stroke: #dbdbdb;
}