@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.edge {
    stroke-width:2px;
    stroke: #212121;
}

.edge-toucharea {
    stroke-width: 20px;
    stroke: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.redundant-true {
    stroke: #dbdbdb;
    marker-start: url(#dot-redundant-true);
    marker-end: url(#dot-redundant-true);
}

.redundant-false {
    marker-start: url(#dot-redundant-false);
    marker-end: url(#dot-redundant-false);
}

#dot-redundant-true circle {
    stroke: none;
    fill: #dbdbdb;
}

#dot-redundant-false circle {
    stroke: none;
    fill: #212121;
}

.station-label {
    text-anchor: middle;
}

.arrival, .departure, .label {
    visibility: hidden;
    text-shadow: 1px 1px 2px white;
}

.arrival, .departure {
    font-weight: bold;
}

.arrival {
    text-anchor: end;
}

.departure {
    text-anchor: start;
}

.label {
    text-anchor: middle;
}

.live-red {
    fill: #B71C1C;
}

.live-green {
    fill: #019B92;
}

.arrival.selected, .departure.selected, .label.selected {
    visibility: visible;
}

.edge.selected {
    stroke: #01579B;
    filter: drop-shadow( 0px 0px 3px rgba(1, 87, 155, .7));
}

.edge.provider-shortest-path {
    stroke: #B71C1C;
}

.edge.provider-shortest-path.selected {
    stroke: #880E4F;
    filter: drop-shadow( 0px 0px 3px rgba(136, 14, 79, .7));
}


.edge.type-Foot {
    stroke-dasharray: 1 5;
    stroke-width: 1px;
}

.edge.type-nationalExpress, .edge.type-national {
    stroke-width: 3px;
}

.edge.type-regional, .edge.type-regionalExp, .edge.type-suburban {
    stroke-width: 2px;
}

.edge.type-bus, .edge.type-subway, .edge.type-tram {
    stroke-width: 1px;
}

.previous-next-arrow {
    opacity: 0.5;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
    font-size: 200%;
}

.button {
    fill: #dbdbdb;
    rx: 5;
    ry: 5;
}

.ui-link {
    dominant-baseline: middle;
    text-anchor: middle;
    font-weight: bold;
    fill: #01579B;
}
