@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.edge {
    stroke-width:2px;
    stroke: black;
}

.edge-toucharea {
    stroke-width: 20px;
    stroke: transparent;
}

.redundant-true {
    stroke: #dbdbdb;
}

#dot-redundant-true circle {
    stroke: none;
    fill: #dbdbdb;
}

#dot-redundant-false circle {
    stroke: none;
    fill: black;
}

.station-label {
    text-anchor: middle;
}

.arrival, .departure, .label {
    visibility: hidden;
}

.arrival.selected, .departure.selected, .label.selected {
    visibility: visible;
}

.edge.selected {
    stroke: #01579B;
    filter: drop-shadow( 0px 0px 3px rgba(1, 87, 155, .7));
}

.edge.provider-shortest-path {
    stroke: #B71C1C;
}

.edge.provider-shortest-path.selected {
    stroke: #880E4F;
    filter: drop-shadow( 0px 0px 3px rgba(136, 14, 79, .7));
}


.edge.type-Foot {
    stroke-dasharray: 1 5;
    stroke-width: 1px;
}

.edge.type-nationalExpress, .edge.type-national {
    stroke-width: 3px;
}

.edge.type-regional, .edge.type-regionalExp, .edge.type-suburban {
    stroke-width: 2px;
}

.edge.type-bus, .edge.type-subway, .edge.type-tram {
    stroke-width: 1px;
}

